<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="inner">
      <div class="fbox">
        <% if (messages.error) { %>
          <p style="color:red"><%- messages.error %></p>
          <% } %>
          <% if (messages.success) { %>
          <p style="color:green"><%- messages.success %></p>
          <% } %>
          <form action="/account/authentication" method="post" name="form1">
          <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="">
          </div>
          <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="*********" value="">
          </div>
          <input type="submit" class="btn btn-primary" value="Login">
          </form>
          <a href="/account/register" class="btn btn-success ml-2">No account? Register here</a>
      </div>
    </div>
  </div>
<%- include("./elements/footer");%>
</body>
</html>