<!DOCTYPE html>
<html lang = "en">

<head>
  <%- include("./elements/head");%>
  <title>Register | FLOZGAME</title>
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/modal.js"></script>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="inner">
      <div class="box">
        <form action = "/account/post-register" method="post">
          <span class="text-center">register</span>
          <span class="text-center error_msg"><%= error%></span>
          <div class="input-container">
            <input type="email" required="" name = "email"/>
            <label>EMAIL</label>		
          </div>
          <div class="input-container">
            <input type="text" required="" name = "name"/>
            <label>USERNAME</label>		
          </div>
          <div class="input-container">		
            <input type="mail" required="" name = "password"/>
            <label>PASSWORD</label>
          </div>
          <input type= "submit" class = "btn" value = "SUBMIT" >
          <a href="/account/login" class = "text-center">ALREADY HAVE AN ACCOUNT?</a>
      </form>	
      </div>
    </div>
    <%- include("./elements/footer");%>
  </div>
  <%- include("./elements/modal");%>
</body>
</html>